<h2>Edit Post</h2>

<%= form_with model: @post, local: true do |form| %>
    <%= hidden_field_tag(:_method, :patch) %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_field :description %>
    </p>

    <%= form.hidden_field :likes, value: @post.likes %>
    

    <p>Change categories</p>
    <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :title) do |cd| %>
        <%= cd.check_box %>
        <%= cd.label%></br>
    <% end %>
    
    <p>
        <%= form.submit %>
    </p>
<% end %>