
<h1>Posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Likes</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td class = "<%= "like-count-#{post.id}" %>"><%= post.likes %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td type="button" name="Like" class="like-button" data-post-id="<%= post.id %>">Like</td>
      <td><%= link_to 'Delete', post_path(post),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add post', new_post_path %></p>

<script>
    const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
      button.addEventListener('click', function () {
        const postId = this.getAttribute('data-post-id');
        likePost(postId);
      });
    });

    function likePost(postId) {
      fetch(`/posts/${postId}/like`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
      })
      .then(response => response.json())
      .then(data => {
        const likeCountElement = document.querySelector(`.like-count-${postId}`);
          likeCountElement.textContent = data.likes;
        
      })
      .catch(error => {
        console.error('Error liking post:', error);
      });
    }

</script>