<h1 class="category_title">Posts</h1>

<div class="post-container">
  <% user = User.find_by_id(params[:user_id]) %>
  <% user.posts.each do |post| %>
    <div class="post">
      <div class="post-title"><%= post.title %></div>
      <div class="post-description"><%= post.description %></div>
      <div><%= (post.likes.count) == 1 ? 'Like:' : 'Likes:'%><%= post.likes.count %></div>
      <div class="post-actions">
        <%= link_to 'Show', post_path(post) %>
        <div class="like-button">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <p class="button-container">
    <%= link_to 'Add post', new_post_path, class: "like-button" %>
  </p>
<% end %>


<script>
    const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
      button.addEventListener('click', function () {
        const postId = this.getAttribute('data-post-id');
        likePost(postId);
      });
    });

    function likePost(postId) {
      fetch(`/posts/${postId}/like`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
      })
      .then(response => response.json())
      .then(data => {
        const likeCountElement = document.querySelector(`.like-count-${postId}`);
          likeCountElement.textContent = "Likes: " + data.likes;
        
      })
      .catch(error => {
        console.error('Error liking post:', error);
      });
    }

</script>