<h2 class="category_title">New Post</h2>

<%= form_with scope: :post, url: posts_path, local: true, html: { class: "category-form" } do |form| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@post.errors.count, "error") %> prohibited
                this post from being saved:
            </h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="form-group">
        <%= form.label :title, class: "form-label" %><br>
        <%= form.text_field :title, class: "form-control" %>
    </div>
 
    <div class="form-group">
        <%= form.label :description, class: "form-label" %><br>
        <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.number_field :user_id, id: :post_user_id, class: "form-control", value: current_user.id, type: :hidden %>
    </div>
    
    <div class="change-categories">
        <div>Change categories</div>
        </br>
        <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :title, :include_hidden => false ) do |cd| %>
            <div class="checkbox-container">
            <label class="custom-checkbox-label">
                <%= cd.check_box class: "custom-checkbox" %>
                <%= cd.label %>
            </label>
            </div>
        <% end %>
    </div>

    <div class="button-container">
        <%= form.submit "Submit",class: "like-button" %>
    </div>
<% end %>

<%= render 'script' %>