<div class="button-container", style="text-align: left;">
   <%= link_to 'Back', categories_path, class: "like-button" %>
</div>

<h1 class="category_title"><%= @category.title %></h1>

<div class="post-actions">
    <%= link_to 'Edit', edit_category_path(@category), class: "links" %>
    <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: "links" %>
</div>

<div class="post-container">
  <% @category.posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <%= link_to post.title, post_path(post) %>
      </div>

      <div class="post-actions">
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'script' %>