<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<table>
  <tr>
    <th>Post</th>
    <th></th>
  </tr>

  <% @category.posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= link_to 'Edit', edit_category_path(@category) %></td>
      <td><%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Back', categories_path %>
