<header>
    <div class='h1_container'>

        <nav class='navbar'>
            <ul>
                <li><%= link_to "Categories", categories_path, class:"category-nav" %></li>
                <li><%= link_to "Posts", posts_path, class:"post-nav" %></li>
                <% if !user_signed_in? %>
                    <li><%= link_to "Sign Up", new_user_registration_path, class:"signup-nav" %></li>
                    <li><%= link_to "Sign In", new_user_session_path, class: "signin-nav" %></li>
                <% else %>
                    <li><%= link_to "My Posts", "/users/#{current_user.id}/my_posts", class: "my-posts-nav" %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    <li><%= link_to "Edit Profile", edit_user_registration_path, class: "edit-profile-nav" %></li>
                <% end %>
            </ul>
        </nav>

    </div>
</header>